#navbar {
    margin: 0px 5px;
}

a.nav-link {
    font-size: large;
    color: #74990b;
    font-weight: 8px;
}

a.nav-link:hover {
    color: white;
    border-radius: 10px;
    background-color: #74990b;
}

.dropdown-item:hover {
    background-color: #74990b;
}